@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

html{
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
  background: #f64056; /* match default theme bg to avoid onload flash */
  font: 22px/1.65 'Droid Serif', serif;
  color: #1a1a1a;
}
a{
  display: inline-block;
  border-bottom: 3px solid #fff;
  line-height: .8;
  color: #5555fe11;
  text-decoration: none;
  transform: rotate(-3deg);
}
a:hover{
  color: #fff;
}
a:not(.data p a){
  font-style: italic!important;
  color: white;
  font: 18px/1 monospace;
  border-bottom: 0px;
  transform: rotate(0deg);
}

h1{
  font-family: monospace;
  font-weight: 900;
  font-style: italic;
  margin: 0px -20px -10px 0px;
  line-height: 1;
  font-size: 150px;
  text-align: center;
  color: #f64056;
  text-shadow: -10px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
}


/* search input container */
.center{
  display: flex;
  justify-content: center;
}

#searchInput{
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 0;
  outline: 0px;
  font: 22px/1.65 'Droid Serif', serif;
  background: #111;
  color: white;
  box-shadow: 0px -10px 50px #fff, 0px -0px 0px #fff, -0px 0px 0px #fff, 0px 0px 0px #fff;
}
#searchInput::placeholder{
  opacity: .8;
}
.wrapper, #resultsContainer {
  box-sizing: border-box; /* Include padding and borders in the total width */
  max-width: 600px;
  width: 100%;
  margin: auto;
  /* padding: 2.5rem 1rem; */
}


/* data divs */
.outer {
  position: relative;
  overflow: hidden; 
  margin: 10px auto;
  border-radius: 0%;
  padding: 0px;
  max-width: 420px;
  height: fit-content;
  line-height: 2.4rem;
  color: #F2EEE2;
  background: #f64056;
/* delicate decorative feature */
  /* background-image: 
    radial-gradient(circle, #f33 0%, transparent 1.5%),
    linear-gradient(#f3333355 1px, transparent 1px),
    linear-gradient(90deg, #f3333399 1px, transparent 1px);
  background-size: 
    20px 20px,
    100% 20px,
    20px 100%;
  background-position:
    0 0,
    0 0,
    0 0; */
  /* ^^^ subtle grid overlay */
}
.content{
  position: relative;
  z-index: 10; 
  transform: skewY(5deg); 
  background: rgba(255, 0, 0, .3);
}
.data{
  padding: 20px;
  transform: skewY(-5deg); 
}


/* data title */
h2{
  font: 20px/1 monospace;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 5px;
  background: #000;
  padding: 5px;
  color: white;
  width: fit-content;
}

/* date */
h3{
  display: inline-block;
  background: #eee;
  padding: 0.25em;
  color: #123;
  font: 14px/1 monospace;
  margin-bottom: 8px;
}

/* highlight data body text */
span.highlight {
  padding: 1px 2px;
  background: #111;
  color: #f64056;
}


@media screen and (min-width: 1024px){
  h1{
    margin-bottom: -40px;
  }
  #searchInput{
    margin: 0 auto -15px
  }

  .wrapper, #resultsContainer {
    max-width: 1600px;
    width: 100%;
    margin: auto;
    padding: 4rem 2.6rem;
  }

  #resultsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
  }
}

.noresults{
  color: #F2EEE2;
}

#theme{
  width: fit-content;
  cursor: pointer;
}
.theme-sun-svg{
  width: 20px;
  height: 20px;
  color: white;
}
.theme-moon-svg{
  width: 20px;
  height: 20px;
  color: black;
}

@media screen and (max-width: 768px){
  a{
    color: #fff;
  }
}