@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

html{
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
  background: #fffff9;
  font: 22px/1.65 'Droid Serif', serif;
  color: #1a1a1a;
}

a{
  color:#2985fc;
  display: inline-block;
}

#resultsContainer, .wrapper, .data {
  box-sizing: border-box; /* Include padding and borders in the total width */
  max-width: 600px;
  width: 95%;
  margin: auto;
  padding: 2.5rem 1rem;
}

h1{
  font-family: monospace;
  font-weight: 900;
  font-style: italic;
  margin: 0px 20px 0px 0px;
  line-height: 1;
  font-size: 150px;
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
}
#searchInput{
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 0;
  font: 22px/1.65 'Droid Serif', serif;
  background: #111;
  color: white;
}
#searchInput::placeholder{
  opacity: .8;
}
/* data title */
h2{
  line-height: 1.25;
  margin-bottom: 5px;
}

/* date */
h3{
  display: inline-block;
  background: #eee;
  padding: 0.25em;
  color: #123;
  font: 14px/1 monospace;
  margin-bottom: 8px;
}

/* highlight data body text */
span {
  color: #ee4035;
  /* margin: 15px; */
  /* padding: 5px; */
  /* box-shadow: 10px -10px 0px red, -10px 10px 0px red; */
}


@media screen and (min-width: 768px){
  #resultsContainer, .wrapper, .data {
   padding: 4rem 3rem;
  }
}